html, body {
    background-color: #f8f9fa;
    color: #343a40;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#main {
    margin: 0 auto;
    max-width: 960px;
    padding: 20px;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}